.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.demo-logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  margin-inline-end: 24px;
}

.logo {
  height: 36px;
  border-radius: 6px;
  display: block;
  margin: 16px 0;
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
}
